{% extends 'main__/base.html' %}
<!DOCTYPE html>
{% load static %}
{% block title %}فروش دوا{% endblock %}
{% block head %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/sld/sld.css' %}">
{% endblock %}
{% block domready %}
    {#    <script>#}
    <!-- fillingnameselector-->
    var name_selector = document.getElementById('name_selector')
    name_selector.innerHTML += `
    {% for drug in drugs %}
        <option class="selector_option">
            {{ drug }}
        </option>
    {% endfor %}
    `
    <!-- filling company selector-->
    var company_selector = document.getElementById('company_selector')
    var bgts_selector = document.getElementById('bgt_selector')
    var date = document.getElementById("date")

    name_selector.addEventListener('change', function (e) {
    const drugName = e.target.value
    company_selector.innerHTML =`
    <option>انتخاب شرکت</option>`
    <!--filling company selector-->
    const get_cmp_url = "{% url 'main:get_companies' %}"
    fetch(get_cmp_url + "?drug_name=" + drugName).then(response => response.json()).then(list => list.forEach(company =>
    {
    function formatter(html, ...args) {
    return html.reduce((acc, curr, i) => acc + args[i - 1] + curr);
    }

    company_selector.innerHTML += formatter`
    <option>
        ${company}
    </option>
    `

    }))

    })

    <!--filling bgts selector-->
    company_selector.addEventListener('change', function (eventt) {
    bgts_selector.innerHTML = `
    <option>انتخاب خرید</option>`
    const selected_company = eventt.target.value
    const selected_drug = name_selector.value
    const url = "{% url 'main:get_bgts' %}"
    fetch(url + "?drug_name=" + selected_drug + "&" + "company=" + selected_company).then(response =>
    response.json()).then(list => list.forEach(detail => {
    function formatter(html, ...args) {
    return html.reduce((acc, curr, i) => acc + args[i - 1] + curr);
    }

    const bg_price = detail[0]
    const baqi_amount = detail[1]
    const bg_date = detail[2]
    const currency = detail[3]
    bgts_selector.innerHTML += formatter`
    <option>
        ${bg_date} | ${baqi_amount} | ${currency} | ${bg_price}
    </option>
    `
    }))
    })

    <!--auto total calculating-->
    document.getElementById('id_price').addEventListener('keyup', function (e) {
    var total = document.getElementById('id_total');
    var pricee = document.getElementById('id_price')
    var amount = document.getElementById('id_amount')
    total.value = Number(pricee.value) * Number(amount.value)
    })
    <!--making an image preview-->
    document.getElementById("company_selector").addEventListener("change", function (e) {
    const company = e.target.value
    const name = document.getElementById("name_selector").value
    var img_preview = document.getElementById("img-preview")
    console.log(name + company)
    const photo_url = "{{ media_url }}" + name + "___" + company + ".jpg"
    img_preview.src = photo_url

    })
    {% if errors %}
        var company = document.getElementById('company_selector')
        company.innerHTML = `
        <option>{{ form.company.value }}</option>`
        var name = document.getElementById("name_selector")
        name.value = "{{ form.name.value }}"
        var bgt_detail = document.getElementById('bgt_selector')
        bgt_detail.innerHTML=`
        <option>{{ form.bgt_detail.value }}</option>`
        var date = document.getElementById('id_date')
        date.value = "{{ form.date.value }}"
        company.dispatchEvent(new Event("change"));
    {% endif %}

    {#</script>#}


{% endblock %}
{% block content %}
    <h1 id="sell_header">فروش دوا</h1>
    <form id="sell_form" method="post" enctype="multipart/form-data">
        <div id="sell_form_fields">
            <div class="pair">
                <div id="label_input">
                    <label>
                        نام دارو
                    </label>
                    <br>
                    <select class="selectors" id="name_selector" name="name">
                        <option class="selector_option">
                            انتخاب دارو
                        </option>
                    </select>
                </div>
                <div id="label_input">

                    <label>
                        شرکت دوا
                    </label>
                    <br>
                    <select class="selectors" id="company_selector" name="company">
                        <option class="selector_option">
                            انتخاب شرکت
                        </option>
                    </select>
                </div>
            </div>
            <div class="pair">
                <div id="label_input">

                    <label>
                        خرید ها
                    </label>
                    <br>
                    <select class="selectors" name="bgt_detail" id="bgt_selector">
                        <option class="selector_option">
                            انتخاب خرید
                        </option>
                    </select>
                </div>
                <div id="label_input">

                    <label>
                        مقدار فروش
                    </label>
                    <br>
                    {{ form.amount }}
                </div>
            </div>
            <div class="pair">
                <div id="label_input">
                    <label>
                        قیمت فروش
                    </label>
                    <br>
                    {{ form.price }}
                </div>
                <div id="label_input">
                    <label>
                        اسم مشتری
                    </label>
                    <br>
                    {{ form.customer }}
                </div>

            </div>

            <div class="pair">
                <div id="label_input">
                    <label>
                        تاریخ
                    </label>
                    <br>
                    {{ form.date }}
                </div>
                <div id="label_input">

                    <label>
                        بیل نمبر
                    </label>
                    <br>
                    {{ form.sld_bill }}
                </div>


            </div>
            <div class="pair">
                <div id="label_input">

                    <label>
                        مجموع
                    </label>
                    <br>
                    {{ form.total }}
                </div>
                <div id="label_input">
                </div>

            </div>
        </div>
        {% csrf_token %}
        <input class="submitt" type="submit" value="ثبت فروش">
    </form>
    <img id="img-preview" style="" src="{% static 'UsedPhoto/BedonAks.jpg' %}">

    <!--handling errors -->
    <script src="{% static 'js/jdatepicker.js' %}">
        jDatePicker("id_date")
    </script>
    {% if errors %}
        <ul id="errors">
            خطا!
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}