{% extends "main__/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/sld/sld_detail.css' %}">
{% endblock %}
{% block content %}
    <img id="drug_photo" src="{{ drug.photo.url }}" alt="No found">
    <span id="title"><p>جزئیات فروش</p></span>
    <label id="name_label">
        {{ sld.name }}
    </label>
    <br>
    <div id="drug_content">
        <label>
            شرکت دارو:
        </label>
        {{ sld.company }}
        <br>
        <label>
            مقدار فروش:
        </label>
        {{ sld.amount }}
        <br>
        قیمت فروش:
        <span> {{ sld.price }} </span>
        <span id="price_lbl"> {{ sld.currency }} </span>
        <br>
        <label>
            تاریخ فروش:
        </label>
        {{ sld.date }}
        <br>
        <label>
            بیل نمبر:
        </label>
        {{ sld.sld_bill }}
        <br>
        <label>
            مجموع:
        </label>
        {{ sld.total }}
        <span id="price_lbl"> {{ sld.currency }} </span>
        <br>
        <span id="see_bgts"><a href="{{ sld.bgt.get_absolute_url }}"> دیدن جزئیات خرید</a></span>
        <span id="edit" ><a href="{% url 'main:edit_sld' sld.name sld.company sld.date sld.customer %}">ویرایش کردن</a> </span>
    </div>
{% endblock %}