{% extends "main__/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/drug/drug_detail.css' %}">
{% endblock %}
{% block content %}
    <img id="drug_photo" src="{% if drug.photo.url %}{{ drug.photo.url }}{% else %}{% endif %}" alt="No found">
    <span id="drug_name">{{ drug.name }}</span>

    <div id="drug_content">
        <span id="company">شرکت دارو: </span><span id="company">{{ drug.company }}</span>
        <br>
        <span id="amount">مقدار موجود: </span><span id="amount">{{ drug.existing_amount }}</span>
        <br>
        <span id="details"> جزئیات:</span>
        <br>
        <span id="detailss">{{ drug.description|linebreaks }}</span>

        <span id="buttons"><a style="color: white" href="{% url 'main:delete_drug' drug.name drug.company %}"> حذف دارو </a></span>
    </div>
{% endblock %}