{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div id="header">
    <div id="store_name">
        ادویه فروشی احمدیار
    </div>
    {% if request.user.is_authenticated %}
        <div id="user">
            خوش آمدید
            {{ request.user }}
            <br>
            <span><a href="{% url 'a_ccount:log_out' %}">خارج شدن</a></span>
        </div>
    {% endif %}
</div>
<span class="user">

    </span>
<hr>
<div id="contents">
    {% block content %}
    {% endblock %}
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function (e) {
        {% block domready %}
        {% endblock %}

    })
</script>