{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div id="headeer">
    <span class="store_name">
        ادویه فروشی احمدیار
    </span>
    <div class="user">
        {% if request.user.is_authenticated %}
            {{ request.user }} خوش آمدید
            <br>
            <a class="logout" href="{% url 'a_ccount:log_out' %}">خارج شدن</a>
        {% endif %}

    </div>
</div>
<hr>
<div id="contents">
    {% block content %}
    {% endblock %}
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function (e) {
        {% block domready %}
        {% endblock %}

    })
</script>