body {
    background-color: #c6f1ff;
}

#header {
    display: flex;
    direction: rtl;
    border-radius: 20px;
    height: 12%;
    font-size: 20px;
    /*background-color: darkcyan;*/
    color: black;
    border-bottom: 4px solid #3ddcb6;
    font-family: "2  Davat";
}

#welcm {
    margin-right: 10%;
}

#user {
    color: #090015;
    margin-right: 60%;
    margin-top: 0.0001%;
    /*position: fixed;*/
}

#store_name {
    all: unset;
    margin-right: 4%;
    margin-left: 6%;
    zoom: 150%;
    direction: rtl;
    color: darkslateblue;
    background-color: #9de0d0;
    margin-bottom: 5px;
    border-radius: 10px;
    /*height: 5%;*/
}


ul.messages {
    margin: 10px 100px;
    padding: 0;
    list-style-type: none;
}

#logout {
    background-color: #a4f3ea;
    /*margin-right: 60%;*/
    /*position: fixed;*/
    border-radius: 5px;
    /*zoom: 90%;*/
    /*width: 30px;*/
    /*text-align: center;*/
}

#menu_bar {
    display: flex;

}

#menu_item {
    all: unset;
    background-color: #3ddcb6;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 15px;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}


table {
    direction: rtl;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#table_title {
    font-size: 25px;
    font-family: "2  Davat";
    margin: 1px 1px;
    text-align: center;
}
#list_table thead{
    background-color: darkcyan;
}
#list_table th {
    border-bottom:  2px solid black;
    border-top:  2px solid black;
    color: pink;
    font-family: "2  Davat";
}

table td{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
    color: black;
    font-family: "JetBrains Mono";
}

#delete_form{
    padding: 1px 1px;
    margin-bottom: 1px;
    zoom: 110%;
}
#delete_form input{
    background-color: red;
    width: 50px;
    padding: 1px;
}
